.photo-gallery, .photo-gallery li {
	list-style: none;
	padding: 0;
}

.photo-gallery li {
	display: inline-block;
	width: 100%;
}

.photo-gallery li img {
	width: 100%;
}

figure {
	text-align: center;
	margin: 2em 0;
  }
  figcaption {
	font-size: 0.9em;
	color: #666;
  }